


mixin addPublishA(text,categories)

 script.
     $(document).ready(function () {
         var categories = new Select("#categories", {});

     });

 style.


     /*.w3-col:hover  .category-wrapper:not(:hover)
     {


         -webkit-transform: scale(0.8);
         -moz-transform: scale(0.8);
         -ms-transform: scale(0.8);
         -o-transform: scale(0.8);
         transform: scale(0.8);
     filter:opacity(50%);

     }*/
     .toolbar
     {
         background-color: #{text.toolbarBackground};

     }
     .w3-col.active .category-wrapper:not(.active)
     {
         -webkit-transform: scale(0.8);
         -moz-transform: scale(0.8);
         -ms-transform: scale(0.8);
         -o-transform: scale(0.8);
         transform: scale(0.8);
         filter: opacity(50%);
     }
     .paragraphs .section
     {
         -webkit-transition: background 500ms, color 500ms;
         -moz-transition: background 500ms, color 500ms;
         -ms-transition: background 500ms, color 500ms;
         -o-transition: background 500ms, color 500ms;
         transition: background 500ms, color 500ms;
         padding: 10px;
         background-color: #{text.sectionBackground};
         margin-bottom: 15px;
     }

     .paragraphs .section.active {

         background-color:#{text.sectionActive};
     }



     .category-wrapper:hover
     {
         -webkit-transform: scale(1.1) ;
         -moz-transform: scale(1.1) ;
         -ms-transform: scale(1.1);
         -o-transform: scale(1.1) ;
         transform: scale(1.1) ;

     }
     .category-wrapper
     {
         padding-top: 20px;
         -webkit-transition: filter 500ms,transform 500ms;
         -moz-transition: filter 500ms, transform 500ms;
         -ms-transition: filter 500ms, transform 500ms;
         -o-transition: filter 500ms, transform 500ms;
         transition: filter 500ms, transform 500ms;
     }



     .category {
         background-color: #{text.categoriesBackground};

     }
     .no-post
     {
         background-color: #{text.noPost.color};
         padding: 30px;
     }

     .category b
     {
         font-size: 15px;
     }
     .category-noimage
     {
         padding-top: 70px;
         padding-bottom: 70px;
     }

     .paragraph-wrapper p
     {
         padding: 15px;

         color: black;;
         -webkit-transition: background 500ms,color 500ms;
         -moz-transition:  background 500ms,color 500ms;
         -ms-transition:  background 500ms,color 500ms;
         -o-transition:  background 500ms,color 500ms;
         transition:  background 500ms,color 500ms;

     }


     .paragraph-wrapper:hover p {

         background-color: #3a3a3a !important;
         color: white !important;
     }








     @media screen and (min-width: 993px) {
         .paragraph-wrapper:nth-of-type(3n+1) {
           padding-right: 10px !important;

          }

         .paragraph-wrapper:nth-of-type(3n+0) {
             padding-left: 10px;

         }

         .paragraph-wrapper:nth-of-type(3n+2) {
             padding-right: 10px !important;

             padding-left: 10px;
         }
         .category-wrapper:nth-of-type(3n+1) {
             padding-right: 10px !important;


         }

         .category-wrapper:nth-of-type(3n+2) {
             padding-right: 10px !important;

             padding-left: 10px;
         }

         .category-wrapper:nth-of-type(3n+0) {
             padding-left: 10px;

         }
     }
     @media screen and (min-width: 601px) and (max-width: 992px) {

         .paragraph-wrapper:nth-of-type(odd) {
             padding-right: 10px !important;

         }

         .paragraph-wrapper:nth-of-type(even) {
             padding-left: 10px !important;

         }

         .category-wrapper:nth-of-type(even)  {
             padding-left: 10px !important;

         }
         .category-wrapper:nth-of-type(odd)  {
             padding-right: 10px !important;

         }
      }
     @media screen and (max-width: 600px){

      }
     #toolbar button
     {
         background-color:#{text.toolbarColor}
     }



 .generic-container
  script.




      angular.element(document).ready(function () {

          function initPost()
          {
              if(!angularScope.post)
              {
                  angularScope.post = {};
              }
              if(!angularScope.post.items)
              {
                  angularScope.post.items = [];
              }
          }




          angularScope.selectCategory=function(e)
          {

              $(".category-wrapper").removeClass("active");
              var target = $(e.currentTarget).closest(".category-wrapper");

              var value =target.attr("data-value");
              initPost();
              angularScope.post.category=value;
              target.addClass("active");
              target.closest(".categories").addClass("active");


          }

          angularScope.addTitle=function()
          {

              showInput("#{text.title}", function (value) {


                  if (value) {
                      initPost();
                      angularScope.post.items.push({type: "title", text: value});

                  }
                  angularScope.$apply();

              });
          }

          angularScope.loadSwiper=function()
          {

              setTimeout(function () {
                  var swiper = new Swiper('.swiper-container', {
                      // Optional parameters
                      speed: 500,
                      slidesPerView: 1,
                      autoHeight: true,
                      nextButton: '.next-slide',
                      prevButton: '.prev-slide',
                  });
              },0);

          }

          angularScope.addCaption=function(element){

              showInput("#{text.caption}",function(val){

                  element.caption=val;
                  angularScope.$apply();

              });

          }

          angularScope.addImage = function () {

              var i=0;
              showFile("#{text.image}", function (files) {

                  i++;

                  if (files) {
                      initPost();

                      var _files=[];
                      readFile(files, 1, function(result,ext){

                          var cant=files.length;
                          console.log(cant);
                          i++;
                          if(cant==1)
                          {

                              switch (ext) {
                                  case "jpg":
                                  case "jpeg":
                                  case "gif":
                                  case "png":
                                  case "bmp":

                                      angularScope.post.items.push({type: "image", src: result,file:files[0]});


                                      break;

                              }

                              angularScope.$apply();
                          }
                          else {



                              switch (ext) {
                                  case "jpg":
                                  case "jpeg":
                                  case "gif":
                                  case "png":
                                  case "bmp":
                                      _files.push({type: "image", src: result,file:files[i-2]});
                                      break;

                              }


                              console.log(cant+" "+i);
                          if(i>cant)
                          {

                              angularScope.post.items.push({type: "multiple", elements: _files});



                              angularScope.$apply();




                          }

                          }


                      });
                      //




                  }


              });

          }


          angularScope.publishPost=function () {
              console.log(angularScope.post);
              if(angularScope.post)
              {
                 //uploadJSONFiles(angularHttp,"/publish","")
              }


          }

          angularScope.addParagraph = function () {

              showTextArea("#{text.paragraph}", function (value) {


                  if (value) {
                      initPost();
                      angularScope.post.items.push({type: "paragraph", text: value});

                  }
                  angularScope.$apply();

              });
          }
          var isFixed=false;
          $(document).on("scroll",function(e){
              var scroll = $(window).scrollTop();

              var toolbar=$("#toolbar");

              var offset=$("#toolbar-wrapper");


              if(parseInt(scroll)>=parseInt(offset.offset().top) )
              {
                  if(!isFixed)
                  {
                      toolbar.fadeOut(150, function () {

                          toolbar.addClass("fixed-top");
                          toolbar.fadeIn(150,function(){isFixed=true;});

                      });
                  }


              }
              else
              {
                  toolbar.removeClass("fixed-top");
                  isFixed=false;

              }
          });

          angularScope.deleteElement=function(element,array){

              var index =array.indexOf(element);

             array.splice(index,1);

          }


      });







  form.w3-row(data-ng-submit="publishPost()")
    .w3-col.s12.m6
      input(placeholder=text.title+"...",data-ng-model="post.title").w3-input.cool-input
    .w3-col.s12.m6
             input(placeholder=text.subtitle+"...",data-ng-model="post.subtitle").w3-input.cool-input


    .w3-col.s12(style="margin-top:30px")

      h2.w3-center !{text.categoriesLabel}
    .w3-col.s12.w3-center.w3-margin-top.categories

        each category in categories
         .w3-col.s12.m6.l4.category-wrapper(data-ng-click="selectCategory($event)",data-value=category.value)
           if !category.image
            .category.w3-hover-shadow.category-noimage(style="background-color:"+category.background)
              b #{category.name}
    .w3-col.s12(style="margin-top:30px")

          h2#toolbar-blank.w3-center(style="margin-bottom:30px") !{text.startWritingLabel}


    .w3-col.s12


        .w3-row#toolbar-wrapper
          .w3-col.w3-center#toolbar

            button.w3-btn.w3-col.s6.m3.w3-padding-xlarge.title-btn(data-ng-click="addTitle()") Titulo
            button.w3-btn.w3-col.s6.m3.w3-padding-xlarge(data-ng-click="addParagraph()") Parrafo
            button.w3-btn.w3-col.s6.m2.w3-padding-xlarge.open-submenu(data-submenu="elements",data-ng-click="addImage()",style="background-image:url('/images/icons/image.png');background-size:contain;background-repeat:no-repeat;background-position:center")
             |&nbsp;
            button.w3-btn.w3-col.s6.m2.w3-padding-xlarge.open-submenu(data-submenu="elements",data-ng-click="addVideo()",style="background-image:url('/images/icons/video.png');background-size:contain;background-repeat:no-repeat;background-position:center")
                    | &nbsp;
            button.w3-btn.w3-col.s12.m2.w3-padding-xlarge.open-submenu(data-submenu="elements",data-ng-click="addVideo()",style="background-image:url('/images/icons/audio.png');background-size:contain;background-repeat:no-repeat;background-position:center")
                  | &nbsp;






        .article-container
          article(data-ng-if="post")
            header

                h1.w3-margin-bottom {{post.title}}
                h2.w3-margin-bottom {{post.subtitle}}
                figure(data-ng-if="post.mainImage")
                    img.responsive-img(data-ng-src="{{post.mainImage.src}}")
                    figcaption.w3-large
                        b {{post.mainImage.caption}}



                div(data-ng-repeat="i in post.items")

                 h2.element(data-ng-if="i.type=='title'",style="position:relative") {{i.text}}
                     span.cross(data-ng-click="deleteElement(i,post.items)")


                 p.w3-animate-zoom.element(data-ng-if="i.type=='paragraph'",style="position:relative") {{i.text}}
                     span.cross(data-ng-click="deleteElement(i,post.items)")






                 figure.element(data-ng-if="i.type=='image'",data-ng-dblclick="addCaption(i)",style="position:relative")
                    img.responsive-img(data-ng-src="{{i.src}}")


                    figcaption.w3-large(data-ng-if="i.caption")
                        b {{i.caption}}

                    span.cross(data-ng-click="deleteElement(i,post.items)")

                 figure.audio(data-ng-if="i.type=='audio'",data-ng-dblclick="addCaption(i)")
                    audio(style="width:100%",data-ng-src="{{i.src}}",controls)
                    .caption(data-ng-if="i.caption")
                        img(style="width:18px;position:relative;top:0px",src="http://www.freeiconspng.com/uploads/volume-icon-32.png")
                        | &nbsp;
                        b {{i.caption}}
                 figure.video.w3-center(data-ng-if="i.type=='video'",data-ng-dblclick="addCaption(i)")
                    .line(style="margin-bottom:30px")

                    .container

                        iframe(width="560" ,height="315",data-ng-src="{{i.src | trustUrl}}", frameborder="0", allowfullscreen)
                    div(data-ng-if="i.caption")
                            .caption
                                b {{i.caption}}
                    .line

                 .swiper-container.element(data-ng-if="i.type=='multiple'",style="position:relative;margin-top:10px;margin-bottom:10px")
                         .swiper-wrapper
                             .swiper-slide(data-ng-repeat="element in i.elements",repeat-end="loadSwiper()")
                                 figure(data-ng-if="element.type=='image'",data-ng-dblclick="addCaption(element)",style="margin:0")
                                     img.responsive-img(data-ng-src="{{element.src}}")
                                     figcaption.w3-large(data-ng-if="element.caption")
                                         b {{element.caption}}
                         .next-slide.swiper-button-next

                         .prev-slide.swiper-button-prev
                         .cross(data-ng-click="deleteElement(i,post.items)")



          .w3-center.no-post(data-ng-if="!post")
            h1 #{text.noPost.text}









    .w3-col.w3-center
       .w3-col.w3-hide-small.m3.l4 &nbsp;
       button.w3-col.s12.m6.l4.w3-large.w3-btn(style="background-color:"+text.submitButtonColor,type="submit") #{text.submit}