mixin addRegisterFormA(text)
 form(data-ng-submit=text.submitAction).register-form
    div

        input(name="name",placeholder=text.name)
    div

        input(name="surname",placeholder=text.surname)
    div
         input(name="email",placeholder=text.email)
    div
         input(name="repeatEmail",placeholder=text.repeatEmail)
    div
         input(name="password",placeholder=text.password)
    div
         input(name="repeatPassword",placeholder=text.repeatPassword)
    div.submit
        button(type="submit")
            b #{text.submit}