script(src=body.root + "/js/adapter.js")
script(src=body.root + "/js/socket.io.js")
script(src=body.root+"/js/jquery-1.12.4.min.js")
script(src=body.root + "/js/jquery.mobile.custom.min.js")
script(src=body.root + "/js/fileReader.js")
script(src=body.root + "/js/angular.min.js")
script(src=body.root + "/js/AngularRequest.js")
script(src=body.root + "/js/angular-validation.min.js")
script(src=body.root + "/js/angular-validation-rule.min.js")
script(src=body.root + "/js/loader.js")
script(src=body.root + "/js/p2p.js")
script(src=body.root + "/js/audio.js")
script(src=body.root + "/js/js.cookie.js")
script(src=body.root + "/js/helpers.js")
script(src=body.root+"/js/select.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.0/js/swiper.jquery.min.js")
script(src="/scripts/controller.js")
