mixin addTableA(elements)


   div(id=elements.id)
    h2.table-a-title #{elements.title}
    .table-a-container

       each element in elements.items
        .table-a

          article
           if element.icon
            figure
                img(src=element.icon)
           header
             h3 #{element.subtitle}

           p #{element.text}
