mixin addTableB(elements)


    div(id=elements.id)
        h2.table-a-title #{elements.title}
        .table-a-container

            each element in elements.items
                .table-a

                    article
                        header.equal-height3
                            h3 #{element.subtitle}
                        if element.icon
                            figure(style="background-image:url('" + element.icon + "')")
                        if element.image
                            figure
                                img(src=element.image)

                        div.content
                          p #{element.text}
